/* .customer-form input {
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #555;
}

.customer-form label {
    color: #fff;
    font-weight: 500;
}

.customer-form input::placeholder {
    color: #aaa;
} */
